<!DOCTYPE html>
{% load static %}

<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">





    <title>JobPost + AI</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar-bg-body-tertiary">
        <div class="circle one"></div>
        <div class="circleDos one"></div>
        <div class="circle two"></div>

        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/JobPostLogo(500x150).svg' %}" alt="JobPostLogo" width="150" height="50"
                    class="logoJobPost">
            </a>
            <a class="nav-link" href="{% url 'home' %}">Soporte</a>
        </div>
    </nav>

    <div class="containerSeccionUno">
        <div class="contenedorUno">
            <h1 class="textoEstiloUno">Impulsa tus procesos de Reclutamiento con IA</h1>
            <p class="textoEstiloDos">Numerosas empresas, instituciones y reclutadores utilizan JobPost para mejorar
                significativamente sus procedimientos de reclutamiento.</p>
            <div class="container text-center">
                <div class="row align-items-center justify-content-center">
                    <div class="col-auto d-flex align-items-center">
                        <img src="{% static 'images/perfilUno.svg' %}" alt="perfilUno" class="logosPerfiles">
                        <img src="{% static 'images/perfilDos.svg' %}" alt="perfilDos" class="logosPerfiles">
                        <img src="{% static 'images/perfilTres.svg' %}" alt="perfilTres" class="logosPerfiles">
                        <img src="{% static 'images/perfilCuatro.svg' %}" alt="perfilCuatro" class="logosPerfiles">
                    </div>
                    <div class="col-auto">
                        <p class="textoConfianza">Más de 1.000 personas confían en nosotros.</p>
                    </div>
                </div>
            </div>
            <button class="botonDemo" onclick="location.href='{% url 'login' %}'">Crear Oferta</button>
        </div>
    </div>
    <div class="containerCarousel">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{% static 'images/testimonio1.svg' %}" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'images/testimonio2.svg' %}" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'images/testimonio3.svg' %}" alt="Third slide">
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>

        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
    </div>


    <div class="containerSeccionDos">
        <div class="contenedorDos">
            <div class="textoEstiloDos">Recomendado por las más grandes empresas</div>
            <div class="wrapper">
                <div class="logo-track">
                    <img src="{% static 'images/logoSura.svg' %}" alt="Logo Sura" class="logo1">
                    <img src="{% static 'images/logoExito.svg' %}" alt="Logo Exito" class="logo2">
                    <img src="{% static 'images/logoStar.svg' %}" alt="Logo Star" class="logo3">
                    <img src="{% static 'images/logoWom.svg' %}" alt="Logo Wom" class="logo4">
                    <img src="{% static 'images/logoIsa.svg' %}" alt="Logo Isa" class="logo5">
                    <img src="{% static 'images/logoConfama.svg' %}" alt="Logo Confama" class="logo6">
                    <img src="{% static 'images/logoHaceb.svg' %}" alt="Logo Haceb" class="logo7">
                    <img src="{% static 'images/logoAra.svg' %}" alt="Logo Ara" class="logo8">
                    <!-- elementos para crear el efecto infinito -->
                    <img src="{% static 'images/logoSura.svg' %}" alt="Logo Sura" class="logo1">
                    <img src="{% static 'images/logoExito.svg' %}" alt="Logo Exito" class="logo2">
                    <img src="{% static 'images/logoStar.svg' %}" alt="Logo Star" class="logo3">
                    <img src="{% static 'images/logoWom.svg' %}" alt="Logo Wom" class="logo4">
                    <img src="{% static 'images/logoIsa.svg' %}" alt="Logo Isa" class="logo5">
                    <img src="{% static 'images/logoConfama.svg' %}" alt="Logo Confama" class="logo6">
                    <img src="{% static 'images/logoHaceb.svg' %}" alt="Logo Haceb" class="logo7">
                    <img src="{% static 'images/logoAra.svg' %}" alt="Logo Ara" class="logo8">

                    <img src="{% static 'images/logoSura.svg' %}" alt="Logo Sura" class="logo1">
                    <img src="{% static 'images/logoExito.svg' %}" alt="Logo Exito" class="logo2">
                    <img src="{% static 'images/logoStar.svg' %}" alt="Logo Star" class="logo3">
                    <img src="{% static 'images/logoWom.svg' %}" alt="Logo Wom" class="logo4">
                    <img src="{% static 'images/logoIsa.svg' %}" alt="Logo Isa" class="logo5">
                    <img src="{% static 'images/logoConfama.svg' %}" alt="Logo Confama" class="logo6">
                    <img src="{% static 'images/logoHaceb.svg' %}" alt="Logo Haceb" class="logo7">
                    <img src="{% static 'images/logoAra.svg' %}" alt="Logo Ara" class="logo8">
                </div>
            </div>

        </div>
    </div>
    <div class="contenedorTres">
        <div class="gradient-label">Como funciona</div>
        <h1 class="textoEstiloUno">Crea propuestas de trabajo ganadoras facilmente.</h1>
        <p class="textoEstiloDos">Herramienta de inteligencia artificial de última generación y fácil de usar y
            análisis de crecimiento diseñada para impulsar la conversión, la participación y la retención de los
            usuarios.</p>

        <div class="columnas">
            <div class="columna">
                <img src="{% static 'images/oferta.svg' %}" alt="Crear Oferta" class="iconos">
                <h2 class="textoEstiloTres">Crea tu oferta</h2>
                <p class="textoEstiloCuatro">Crea tu oferta de trabajo en pocos minutos.</p>
            </div>
            <div class="columna">
                <img src="{% static 'images/analisis.svg' %}" alt="Analisis" class="iconos">
                <h2 class="textoEstiloTres">Análisis</h2>
                <p class="textoEstiloCuatro">Recibe un análisis detallado de tu oferta.</p>
            </div>
            <div class="columna">
                <img src="{% static 'images/contratacion.svg' %}" alt="Contratacion" class="iconos">
                <h2 class="textoEstiloTres">Contratación</h2>
                <p class="textoEstiloCuatro">Contrata al mejor candidato para tu empresa.</p>
            </div>
        </div>
        <button class="botonDemo" onclick="location.href='{% url 'login' %}'">Crear Oferta</button>
    </div>


    <script src="{% static 'js/carousel.js' %}"></script>
</body>

<footer>
    <div class="footer">
        <p>© 2024 JobPost + AI. Todos los derechos reservados.</p>
    </div>
</footer>

</html>