@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


header {
    background-color: #f8f9fa;
    
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    
}


h1 {
    color: #02015A;
    font-family: 'Poppins', sans-serif;
    font-size: 58px;
    
}

.containerSeccionUno {
    background-color: #f8f9fa;
    width: 100vw; 
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 100px;
}


.contenedorUno{
    
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: auto;
    padding: 0;
    position: relative;
    width: 50%;
    background-color: #f8f9fa;
}

.textoEstiloUno{
    color: #02015A;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 500;
    line-height: 110%;
    font-size: 58px;
    padding-bottom: 50px;
    font-style: normal;
    z-index: 4;

}


.textoEstiloDos{
    color: #4e5774;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    font-style: normal;
    text-align: center;
    z-index: 2;
}


label {
    font-family: 'Poppins', sans-serif; /* Usa la fuente Poppins */
    font-size: 18px; /* Tamaño del texto */
    color: #333; /* Color del texto */
    font-weight: 600; /* Hace el texto un poco más grueso */
    text-align: center; /* Asegura que el texto esté centrado */
    display: block; /* Hace que el label se comporte como un bloque */
    margin: 10px auto; /* Centra el label horizontalmente */
    width: 100%; /* Asegura que el texto use todo el ancho del contenedor */
    max-width: 600px; /* Limita el ancho del label */
}

input[type="file"] {
    margin-bottom: 20px;
}

textarea {
    width: 80% !important; /* Forzar ancho */
    max-width: 1000px !important; /* Limitar el ancho máximo */
    padding: 10px !important;
    border-radius: 10px !important;
    border: 2px solid #007bff !important;
    font-family: 'Arial', sans-serif !important;
    font-size: 16px !important;
    background-color: #f9f9f9 !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1) !important;
    resize: vertical !important;
    outline: none !important;
    transition: border-color 0.3s ease !important;
    margin: 20px auto !important;
    display: block !important;
}

textarea:focus {
    border-color: #0056b3 !important;
}





button[type="submit"] {
    background-color: #00bf63;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: block;
    margin: 0 auto;
}

button[type="submit"]:hover {
    background-color: #00587a;
}


.navbar-bg-body-tertiary {
    
    z-index: 1;
    background-color: #f8f9fa;
    padding: 10px 20px;
    padding-left: 10%;
    padding-right: 10%;
    position: sticky;
}


.container-fluid {
    display: flex;
    background-color: #e7e9ec;
    color: #000000;
    padding: 10px 20px;
    margin: 20px auto;
    border-radius: 100px;
    width: 50%;
    justify-content: space-between;
    z-index: 2;
    position: sticky;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.navbar .navbar-brand {
    justify-self: flex-start;
    margin-right: auto;
}

.logoJobPost {
    display: flex;
    justify-content: flex-start;
    padding-left: 25px;
}


.mb-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 50%;
    background-color: #e7e9ec;
}

.file-upload-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.uploadLogo {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80px;
    height: 80px;
    margin-right: 10px;
}



.nav-link {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}


.circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: radial-gradient(circle at center, #002f6c, #00E0FF);
    position: absolute;
    filter: blur(100px);
    opacity: 1;
    z-index: -1;
}

.circleDos {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: radial-gradient(circle at center,#00E0FF, #30c4ab);
    position: absolute;
    filter: blur(100px);
    opacity: 1;
    z-index: -1;
}

.circleTres {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: radial-gradient(circle at center,#00bf63, #77ff91);
    position: absolute;
    filter: blur(100px);
    opacity: 1;
    z-index: -1;
}


.circle.one {
    top: -200px;
    left: -100px;
    justify-self: flex-start;
    position: absolute;
}

.circle.two {
    top: -300px;
    left: 3000px;
    justify-self: end;
    right: 0;

}

.circleDos.one {
    top: -300px;
    left: 300px;
    position: absolute;
}

.circleDos.two {
    top: -700px;
    left: 1500px;
    position: absolute;
    justify-content: end;
}




.miniContenedor {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end ;
    position: relative; 
    width: 100%; 
    height: auto; 
}


.logosPerfiles {
    border-radius: 50%;
    justify-content: flex-end;
    align-content: flex-end;
    width: 50px;
    height: 50px;
    position: relative; 
    margin-left: -30px; 
    z-index: 1; 
}


.logosPerfiles.one {
    z-index: 4;
}

.logosPerfiles.two {
    z-index: 3;
}

.logosPerfiles.three {
    z-index: 2;
}

.logosPerfiles.four {
    z-index: 1;
}


.botonDemo{
    border-radius: 5px;
    background-color: #00bf63;
    color: #ffffff;
    width: 185px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}



.col{
    display: flex;
    flex: auto;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    padding: 0;
    
}

.textoConfianza {
    color: #9ca3bd;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    text-align: left;  
    z-index: 2;
    position: relative;
    margin-left: 150px;
    width: 100%;
    justify-content: flex-start;
    
}

.containerSeccionDos{
    padding-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.carousel-container {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.carousel {
    display: flex;
    transition: transform 0.2s ease-in-out;
    gap: 20px;
}

.carousel-item {
    min-width: 200px; /* Ajusta según el tamaño que necesites */
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.carousel-item img {
    width: 100px; /* Tamaño de la imagen */
    height: 100px;
    border-radius: 50%;
}


.footer {
    background-color: #1f41bb;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 20px;
    text-align: center;
    height: auto;
}


