@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    /* Prevents horizontal scrolling */
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}

header {
    background-color: #f8f9fa;
}

h1 {
    color: #02015A;
    font-family: 'Poppins', sans-serif;
    font-size: 58px;
}

/* Section Styles */
.containerSeccionUno {
    background-color: #f8f9fa;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    overflow: hidden;
    /* Prevents content from overflowing */
}



.contenedorUno {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    width: 50%;
    background-color: #f8f9fa;
}


.contenedorTres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    margin: 80px auto;
    text-align: center;
}

.contenedorTres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    /* Adjust spacing between elements */
    width: 50%;
    height: 100vh;
    margin-top: 50px;
    text-align: center;
}

.gradient-label {
    position: relative;
    display: inline-block;
    padding: 5px 12px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background-color: #f3f7fb;
    /* Solid background color */
    color: transparent;
    /* Make text transparent */
    border-radius: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 8px;
    font-weight: 600;
    overflow: hidden;
}

.gradient-label::before {
    content: "Como funciona";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(279deg, rgb(161, 94, 232) 0%, rgb(109, 141, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}




.textoEstiloUno {
    color: #02015A;
    font-size: 58px;
    text-align: center;
    font-weight: 500;
    line-height: 110%;
    padding-bottom: 50px;
    z-index: 4;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.textoEstiloDos {
    color: #4e5774;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    z-index: 2;
}

/* Profile Images Alignment */
.logosPerfiles {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: -10px;
    z-index: 1;
}

.textoConfianza {
    color: #9ca3bd;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
}

/* Button with Hover Transition */
.botonDemo {
    background-color: #00bf63;
    color: #ffffff;
    width: 185px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    /* Esto centra el botón horizontalmente */
}


.botonDemo:hover {
    background-color: #00587a;
    color: #ffffff;
}

/* Form Label Styles */
label {
    font-size: 18px;
    color: #333;
    font-weight: 600;
    text-align: center;
    display: block;
    margin: 10px auto;
    max-width: 600px;
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar-bg-body-tertiary {
    z-index: 1;
    background-color: #f8f9fa;
    padding: 10px 20px;
    padding-left: 10%;
    padding-right: 10%;
    position: sticky;
}

.container-fluid {
    display: flex;
    background-color: #e7e9ec;
    color: #000000;
    padding: 10px 20px;
    margin: 20px auto;
    border-radius: 100px;
    width: 50%;
    justify-content: space-between;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-link{
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    margin-right: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/* Background Circles */
.circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: radial-gradient(circle at center, #002f6c, #00E0FF);
    position: absolute;
    filter: blur(100px);
    opacity: 1;
    z-index: -1;
}

.circleDos {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: radial-gradient(circle at center, #00E0FF, #30c4ab);
    position: absolute;
    filter: blur(100px);
    opacity: 1;
    z-index: -1;
}

.circle.one {
    top: -200px;
    left: -100px;
}

.circle.two {
    top: -300px;
    left: 3000px;
}

.circleDos.one {
    top: -300px;
    left: 300px;
}

.circleDos.two {
    top: -700px;
    left: 1500px;
}

.containerCarousel {
    position: relative;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 80px; 
    margin-bottom: 100px;
}

.carousel {
    position: relative;
}

.carousel-item {
    background-color: transparent;
    text-align: center;
}

.carousel-item img {
    width: 100%;
    max-height: 70vh;
    object-fit: contain;
}

.contedorDos{
    margin-top: 80px;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5%; 
    background: none;
    border: none;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none; 
    border: solid blue;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 10px;
}

.carousel-control-prev-icon {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.carousel-control-next-icon {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    border-color: blue;
}

.carousel-indicators {
    position: relative;
    bottom: 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.carousel-indicators [data-bs-target] {
    background-color: #000; 
}

.carousel-indicators .active {
    background-color: #fff; 
}



/* Carrusel Logos*/

.wrapper {
    overflow: hidden;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.logo-track {
    padding-top: 50px;
    display: flex;
    width: calc(150px * 24);
    animation: scroll 35s linear infinite;
}

.logo-track img {
    width: 150px;
    flex-shrink: 0;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.logo-track img:hover {
    filter: grayscale(0%);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-150px * 8));
    }
}



.columnas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;
    margin-top: 40px;
}

.columna {
    text-align: center;
    max-width: 250px;
}

.iconos {
    width: 60px;
    height: auto;
    margin-bottom: 16px;
}

.textoEstiloTres {
    font-size: 20px;
    font-weight: bold;
    color: #02015A;
    margin-bottom: 8px;
}

.textoEstiloCuatro {
    font-size: 14px;
    color: #4e5774;
    line-height: 1.5;
}

/* Footer */
.footer {
    background-color: #1f41bb;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 20px;
    text-align: center;
}